app-card-sous-categorie {
  width: 31%;
}

ion-slides {
  padding-bottom: 30px !important;
}

.slides-md {
  --bullet-background-active: black;
  
}

ion-slide {
  justify-content: space-evenly;
}

.fullSlide {
  justify-content: space-between;
}