<app-toolbar title="users.title"></app-toolbar>

<ion-content forceOverscroll="false">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
    ></ion-refresher-content>
  </ion-refresher>

  <!-- Important Friends -->
  <ion-grid>
    <!-- Searchbar -->
    <ion-row>
      <ion-col size="12" class="searchbar-col">
        <app-searchbar 
          text="users.findUser"
          (searchEvent)="handleSearch($event)">
        </app-searchbar>
      </ion-col>  
    </ion-row>

    <!-- Loading spinner -->
    <ion-row *ngIf="isLoading">
      <ion-col size="12" class="ion-text-center">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>

    <!-- Search Results -->
    <ion-row class="results-row" *ngIf="!isLoading && userId">
      <ion-col size="12">
        <ion-list>
          <ng-container *ngFor="let user of users | filter: filterTerm">
            <app-user-row
              *ngIf="user.id !== userId"
              [friendshipId]="getFriendshipId(user.id)"
              [user]="user"
              [status]="getStatus(user.id)"
              [addable]="canAdd(user.id)"
              (addEvent)="sendRequest($event)"
              (acceptEvent)="acceptRequest($event)">
          </app-user-row>
          </ng-container>
        </ion-list>    
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>