
  ion-content{
    --background: #7474BF;  /* fallback for old browsers */
    --background: -webkit-linear-gradient(to bottom, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(to bottom, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
ion-header{
    background-color: rgb(96, 129, 37);
    height:40px;
}
ion-button{
  --background: transparent;
}