@import '../../../../global.scss';

ion-content::part(scroll) {
  padding: 5vw 5vw 0 5vw;
  background-color: $gaea-green-light;
  display: flex;
  flex-direction: column;
}

.content-grid {
  background-color: white;
  margin: 0;
  padding: 6vw;
}

.title-row {
  margin-top: min(15vw, 100px);
  margin-bottom: min(10vw, 70px);

  ion-label {
    font-size: min(5vw, 24px);
  }
}

.ratings-header-row, .ratings-content-row {
  ion-label {
    font-size: min(8vw, 32px);
    font-weight: bold;
  }
}

.ratings-header-row {
  margin-bottom: 3vw;

  ion-col {
    display: grid;
    grid-gap: 10px;
  }
}

.ratings-content-row {
  ion-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ion-text {
    font-size: min(4vw, 20px);
  }
}

.ratings-comments-row {
  ion-item {
    --padding-start: 0 !important;
    --inner-padding-end: 0 !important;
  }
}

app-user-rating, app-user-rating-form {
  width: 100%;
}