@import "../../../global.scss";

ion-grid {
  height: 100%;
  margin: 0;
  background-color: $gaea-green-light;
  overflow: auto;
}

ion-grid > ion-row {
  margin-top: 5vw;
}

ion-row {
  margin-bottom: 2vw;
}

.icon-col {
  padding: 0;
}

ion-text {
  font-size: 4vw;
}

.categories-col {
  padding: 0;
}

.no-favorites-col {
  text-align: center;
  padding-top: 5vw;
  font-size: min(3.5vw, 18px);
}
