<ion-item>
  <ion-grid>
    <ion-row>

      <!-- Avatar -->
      <ion-col size="3" class="avatar-col">
        <ion-avatar>
          <img [src]="user.photo || '../../../assets/imgs/avatar.png'">
        </ion-avatar>
      </ion-col>

      <!-- User info -->
      <ion-col 
        [size]="addable? 6:9" class="info-col"
        [routerLink]="['/tabs/users-profile/' + user.id]">
        <ion-row>
          <ion-col size="12">
            <ion-label>
              {{ user.firstname | titlecase }} {{ user.lastname | titlecase }}
            </ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>@{{ user.username }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>

      <!-- Button -->
      <ion-col *ngIf="addable" size="3" class="add-col">
        <!--<ion-icon name="person-add-outline" color="gaea-green-grass">
        </ion-icon>-->
        <ion-button 
          *ngIf="status==='notAdded'" 
          color="gaea-green-grass"
          (click)="handleAdd()">
          {{ 'users.add' | translate }}
        </ion-button>
        <ion-button 
          class="no-padding border"
          *ngIf="status==='added'"
          color="light" disabled="true">
          {{ 'users.requested' | translate }}
        </ion-button>
        <ion-button
          class="border"
          *ngIf="status==='accepted'"
          color="light" disabled="true">
          {{ 'users.friend' | translate }}
        </ion-button>
        <ion-button
          class="no-padding"
          *ngIf="status==='needConfirmation'"
          color="primary"
          (click)="handleAccept()">
          {{ 'users.confirm' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>