<!-- Company only -->
<ion-grid *ngIf="ownCompany">
  <ion-row>
    <ion-col size="12" class="add-btn-col ion-text-center">
      <ion-button color="light"
        [translate]="productType==='merchandise'? 'companyProfile.addProduct' : 'companyProfile.addService'"
        (click)="addNew()">       
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- Product list -->
<ion-list>
  <div *ngFor="let product of products">
    <ion-item>
      <app-product-info [product]="product"></app-product-info>
    </ion-item>
  </div>
</ion-list>