ion-list {
  --ion-background-color: white;
}

ion-item {
  --padding-start: 0;
}

app-product-info {
  width: 100%;
}

.add-btn-col {
  ion-button {
    box-shadow: lightgrey 1px 1px 5px 3px;
    font-size: min(3.5vw, 18px);
  }
}