@import '../../../../global.scss';

ion-content {
  --background: #f6f8f2;
}

.content-grid {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.no-requests-row {
  flex-grow: 1;
}

.no-requests-col {
  align-self: center;
}

