ion-grid {
  background-color: white;
  border-radius: 8px;
}

ion-col {
  padding: min(0.5vw, 10px);
}

ion-icon {
  font-size: min(8vw, 45px);
}

ion-label {
  font-size: min(4.5vw, 25px);
}

ion-text {
  font-size: min(2.5vw, 14px);
}