@import '../../../../../global.scss';

.product-row {
  justify-content: center;
}

.product-info-col {
  display: grid;

  ion-label, ion-text {
    font-size: min(3.5vw, 18px);
  }

  ion-label {
    color: black;
  }

  ion-text {
    color: $gaea-gray;
  }
}

ion-card {
  margin: 0;
}

ion-card-content {
  padding-left: 0;
  padding-right: 0;

  ion-img {
    height: calc(100px + 3vw);
  }
}