<ion-icon
  [name]="stars >= 1 ? 'star' : 'star-outline'"
  [color]="color? color : 'gaea-yellow-deep'">
</ion-icon>
<ion-icon
  [name]="stars >= 2 ? 'star' : 'star-outline'"
  [color]="color? color : 'gaea-yellow-deep'">
</ion-icon>
<ion-icon
  [name]="stars >= 3 ? 'star' : 'star-outline'"
  [color]="color? color : 'gaea-yellow-deep'">
</ion-icon>
<ion-icon
  [name]="stars >= 4 ? 'star' : 'star-outline'"
  [color]="color? color : 'gaea-yellow-deep'">
</ion-icon>
<ion-icon
  [name]="stars >= 5 ? 'star' : 'star-outline'"
  [color]="color? color : 'gaea-yellow-deep'">
</ion-icon>
