.toolbar-title {
  text-align: center;
  font-weight: normal;
}

.notification-number {
  position: absolute;
  background-color: red;
  color: white;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  top: 5%;
  right: 0;
}